{% block captcha_row %}
    <div class="captcha-form-group">
        <puzzle-captcha
                width="{{ attr.width }}"
                height="{{ attr.height }}"
                piece-width="{{ attr.piece_width }}"
                piece-height="{{ attr.piece_height }}"
                src="{{ attr.src }}"
        >
            {{ form_widget(form.challenge, {value: challenge}) }}
            {{ form_widget(form.answer) }}
            <div class="captcha-valid"></div>
        </puzzle-captcha>
        {{ form_help(form) }}
        {{ form_errors(form) }}
    </div>
{% endblock %}